body {
  background-color: #dfd3c3;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #596e79;
  border-width: 5px;
  width: 5%;
}

ul{
  list-style-type: none;
}
